body {
    background-color: #f7f7f7;
    color: rgb(50, 50, 50);
    font-family: 'Roboto', sans-serif;
}

.game {
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, .15);
    width: 100%;
}

.game hr {
    background-color: rgb(50, 50, 50);
    height: 4px;
    width: 120px;
}

.game h1 {
    font-size: 3em;
    font-weight: 700;
}

.responseContainer {
    background-color: rgb(218, 218, 218);
    border-radius: 12px;
    height: 400px;
    width: 100%;
}

.result {
    color: red;
    font-size: 1.5em;
    font-weight: 700;
}

.responseContainer {
    color: rgb(50, 50, 50);
}
